spring:
  application:
    name: mvp

  datasource:
    url: ${DB_URL:jdbc:sqlserver://localhost:1433;databaseName=mvp;encrypt=true;trustServerCertificate=true;}
    username: ${DB_USERNAME:aymen}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true  
    baseline-version: 1

app:
  jwtSecret: ${JWT_SECRET:your-super-secret-key-change-this-in-production-to-at-least-256-bits-of-entropy-for-hs512}
  jwtExpirationMs: ${JWT_EXPIRATION_MS:86400000}

server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /
